node-red/flows.json
[{"id":"63af1210.1336dc","type":"tab","label":"Brew-o-matic","disabled":false,"info":""},{"id":"5de17d9e.8c2c14","type":"sqlitedb","z":"","db":"/data/database/homebrew.sqlite","mode":"RWC"},{"id":"758a167a.824038","type":"ui_tab","z":"","name":"Brew-o-matic","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"573f645c.8d37fc","type":"ui_group","z":"","name":"Brew-o-meter","tab":"758a167a.824038","order":1,"disp":false,"width":"6","collapse":false},{"id":"f424f3d3.57abe","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"99a5e43f.7ea828","type":"ui_group","z":"","name":"Recipe","tab":"758a167a.824038","order":2,"disp":true,"width":"6","collapse":false},{"id":"397a7719.fc4728","type":"ui_group","z":"","name":"Editor","tab":"758a167a.824038","order":3,"disp":true,"width":"6","collapse":false},{"id":"363aa8e1.946ff8","type":"ui_group","z":"","name":"Manual","tab":"758a167a.824038","order":4,"disp":true,"width":"6","collapse":false},{"id":"3e4c3b61.6c9b94","type":"ui_group","z":"","name":"Log","tab":"758a167a.824038","order":5,"disp":true,"width":"6","collapse":false},{"id":"2904fd33.7c3792","type":"sqlitedb","z":"","db":"/data/database/homebrew.sqlite","mode":"RWC"},{"id":"510a64e0.74c62c","type":"mqtt-broker","z":"","name":"","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bf9dd156.8be15","type":"ui_numeric","z":"63af1210.1336dc","name":"set setpoint","label":"Setpoint","tooltip":"","group":"363aa8e1.946ff8","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"setpoint","format":"{{value}}","min":"35","max":"100","step":1,"x":383,"y":1399,"wires":[["f5e52067.0fa3e"]]},{"id":"fda5fa32.789a38","type":"ui_switch","z":"63af1210.1336dc","name":"pid on off","label":"pid on/off","tooltip":"","group":"363aa8e1.946ff8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":389,"y":1529,"wires":[["9da5f403.1646a8","96178871.beb798"]]},{"id":"519eabef.1f5874","type":"ui_gauge","z":"63af1210.1336dc","name":"Mash Temperature","group":"573f645c.8d37fc","order":2,"width":"6","height":"4","gtype":"gage","title":"","label":"°C","format":"{{value}}","min":"15","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":737.0000267028809,"y":1222.0000448226929,"wires":[]},{"id":"dacb9be.06e2b68","type":"mqtt out","z":"63af1210.1336dc","name":"heater control","topic":"kitchen/brewometer/set","qos":"","retain":"","broker":"510a64e0.74c62c","x":1488.0000076293945,"y":1434.9999694824219,"wires":[]},{"id":"19fe732e.bb640d","type":"change","z":"63af1210.1336dc","name":"","rules":[{"t":"set","p":"temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":724.0000247955322,"y":1180.0000448226929,"wires":[[]]},{"id":"fe1a17d4.9394b8","type":"inject","z":"63af1210.1336dc","name":"Create table","topic":"CREATE TABLE HOMEBREW( date NULL, TIMESTAMP INT PRIMARY KEY NOT NULL, TEMPERATURE FLOAT NOT NULL, SETPOINT FLOAT NOT NULL, PID_STATE INT NOT NULL, PID_OUTPUT FLOAT NOT NULL, HEATER_STATE TEXT NOT NULL)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1009.0000076293945,"y":407.9999694824219,"wires":[["8e32bed4.1f21"]]},{"id":"5c62f459.3867dc","type":"function","z":"63af1210.1336dc","name":"insert params","func":"var temp = flow.get(\"temp\");\nvar pid_output = flow.get(\"pid_output\");\nvar pid_state = flow.get(\"pid_state\");\nvar heater_state = flow.get(\"heater_state\");\nvar setpoint = flow.get(\"setpoint\");\n\nvar newMsg = {topic: \"insert into 'HOMEBREW' ('TIMESTAMP', 'TEMPERATURE', 'SETPOINT', 'PID_STATE', 'PID_OUTPUT', 'HEATER_STATE') values (\" + msg.payload +\",\" + temp + \",\" + setpoint + \",\" + pid_state + \",\" + pid_output + \",\" + \"\\'\" + heater_state +\"\\'\" + \")\"}\nreturn newMsg;","outputs":1,"noerr":0,"x":1044.0000076293945,"y":327.9999694824219,"wires":[["8e32bed4.1f21","fb554a87.f19608"]]},{"id":"8c5a9cbc.89237","type":"ui_switch","z":"63af1210.1336dc","name":"","label":"logging","tooltip":"","group":"3e4c3b61.6c9b94","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"enable","onvalueType":"str","onicon":"","oncolor":"","offvalue":"disable","offvalueType":"str","officon":"","offcolor":"","x":424.00000762939453,"y":247.99996948242188,"wires":[["22127eb4.806692","9c78021.60ab2"]]},{"id":"34f9ffca.4f042","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1435,"y":362,"wires":[]},{"id":"fb554a87.f19608","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1254.0000076293945,"y":327.9999694824219,"wires":[]},{"id":"b0be98fe.73d618","type":"change","z":"63af1210.1336dc","name":"timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":874.0000076293945,"y":307.9999694824219,"wires":[["5c62f459.3867dc"]]},{"id":"ec90b34f.09f92","type":"inject","z":"63af1210.1336dc","name":"Delete table","topic":"DROP TABLE HOMEBREW","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":995,"y":462,"wires":[["8e32bed4.1f21"]]},{"id":"632a7a7e.a5d544","type":"inject","z":"63af1210.1336dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":859.0000076293945,"y":367.9999694824219,"wires":[["5c62f459.3867dc"]]},{"id":"7a9ac7ea.c5f768","type":"change","z":"63af1210.1336dc","name":"dummy vars","rules":[{"t":"set","p":"temp","pt":"flow","to":"20.00","tot":"num"},{"t":"set","p":"pid_output","pt":"flow","to":"0.5","tot":"num"},{"t":"set","p":"heater_state","pt":"flow","to":"off","tot":"str"},{"t":"set","p":"pid_state","pt":"flow","to":"1","tot":"num"},{"t":"set","p":"setpoint","pt":"flow","to":"60","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1715,"y":242,"wires":[[]]},{"id":"e6668bff.c60ec8","type":"inject","z":"63af1210.1336dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1545,"y":242,"wires":[["7a9ac7ea.c5f768"]]},{"id":"9da5f403.1646a8","type":"change","z":"63af1210.1336dc","name":"","rules":[{"t":"set","p":"pid_state","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":664,"y":1459,"wires":[[]]},{"id":"c61c48f3.911ed8","type":"ui_numeric","z":"63af1210.1336dc","d":true,"name":"","label":"logging interval","tooltip":"","group":"3e4c3b61.6c9b94","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"interval","format":"{{value}}","min":0,"max":"60","step":1,"x":245,"y":322,"wires":[["16b0f1e6.66ba2e"]]},{"id":"16b0f1e6.66ba2e","type":"change","z":"63af1210.1336dc","name":"change interval","rules":[{"t":"set","p":"interval_value","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":444.00000762939453,"y":327.9999694824219,"wires":[["22127eb4.806692"]]},{"id":"f5e52067.0fa3e","type":"change","z":"63af1210.1336dc","name":"","rules":[{"t":"set","p":"setpoint","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":578,"y":1398,"wires":[[]]},{"id":"d783f3e5.8bea5","type":"inject","z":"63af1210.1336dc","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":199,"y":1958,"wires":[["d0d77601.267708"]]},{"id":"13692e63.0c7092","type":"inject","z":"63af1210.1336dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":209,"y":1918,"wires":[["758bfb01.639bd4"]]},{"id":"e68e3c44.e2792","type":"ui_gauge","z":"63af1210.1336dc","name":"timer","group":"573f645c.8d37fc","order":4,"width":"6","height":"4","gtype":"donut","title":"","label":"minutes","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1139,"y":1998,"wires":[]},{"id":"758bfb01.639bd4","type":"change","z":"63af1210.1336dc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"payload\":\"on\",\"timeout\":10,\"warning\":5}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":399,"y":1918,"wires":[["d0d77601.267708"]]},{"id":"bdc7d9be.bb41b8","type":"comment","z":"63af1210.1336dc","name":"countdown","info":"","x":188.00000762939453,"y":1874.9999694824219,"wires":[]},{"id":"13310d73.f8fc53","type":"ui_numeric","z":"63af1210.1336dc","name":"Set timer","label":"Timer","tooltip":"","group":"363aa8e1.946ff8","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":251.00001525878906,"y":2094,"wires":[["4988abd.75c0154"]]},{"id":"fbdb4d3d.84437","type":"ui_audio","z":"63af1210.1336dc","name":"","group":"397a7719.fc4728","voice":"","always":true,"x":1349,"y":1789,"wires":[]},{"id":"4988abd.75c0154","type":"function","z":"63af1210.1336dc","name":"convert minutes to seconds","func":"var countdown = msg.payload;\nvar seconds = countdown *60;\n\n\nvar newMsg;\nnewMsg = {\"payload\": seconds};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":568.0000076293945,"y":2094.999969482422,"wires":[["e7077638.ef7e98","dc2930f1.9a72c"]]},{"id":"fff4c201.6eff8","type":"function","z":"63af1210.1336dc","name":"convert seconds to minutes","func":"var seconds = msg.payload;\nvar minutes;\nminutes = Math.floor(seconds / 60);\n\nvar newMsg;\nnewMsg = {payload:\"\"};\nnewMsg.payload = minutes;\nreturn newMsg;","outputs":1,"noerr":0,"x":889,"y":1998,"wires":[["e68e3c44.e2792"]]},{"id":"e7077638.ef7e98","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":778.0000076293945,"y":2134.999969482422,"wires":[]},{"id":"e53bf1fb.ab571","type":"ui_text","z":"63af1210.1336dc","group":"573f645c.8d37fc","order":5,"width":"0","height":"0","name":"Timer state","label":"Timer: ","format":"{{msg.payload}}","layout":"row-center","x":1139,"y":1949,"wires":[]},{"id":"a1db4b48.2dbff8","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1139,"y":1909,"wires":[]},{"id":"1ec30cb5.286593","type":"change","z":"63af1210.1336dc","name":"convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"state","tot":"msg"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"running","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"stopped","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":809,"y":1949,"wires":[["a1db4b48.2dbff8","e53bf1fb.ab571"]]},{"id":"b71cbe10.52301","type":"file in","z":"63af1210.1336dc","name":"alarm","filename":"/data/alarm/analog-watch-alarm_daniel-simion.mp3","format":"","chunk":false,"sendError":false,"x":1219,"y":1789,"wires":[["fbdb4d3d.84437"]]},{"id":"a8a29a03.525628","type":"switch","z":"63af1210.1336dc","name":"countdown 0","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":819,"y":1909,"wires":[["9fa5d35a.7f9c6","9a146992.c482d8"]]},{"id":"b3f41b58.e06d58","type":"function","z":"63af1210.1336dc","name":"compare setpoint","func":"var setpoint = flow.get(\"setpoint\");\nvar newTimer = flow.get(\"newTimer\");\nvar timerOn = flow.get(\"timerOn\");\nvar timerSeconds = flow.get(\"timerSeconds\")\n\nvar currentTemp = msg.payload;\nvar newMsg;\n\nif ((newTimer === true) && (currentTemp >= (setpoint-0.5))){\n    flow.set(\"newTimer\", false);\n    flow.set(\"timerOn\", true);\n\n    newMsg = {payload: \"\" };\n    newMsg.payload = {\"payload\":\"on\", \"timeout\": timerSeconds};\n\n    return newMsg;\n    \n} else if (currentTemp < (setpoint-2) && timerOn){\n    newMsg = {payload: \"\" };\n    newMsg.payload = {\"payload\":\"stop\"};\n    flow.set(\"timerOn\", false);\n    \n    return newMsg;\n}\n","outputs":1,"noerr":0,"x":419,"y":1838,"wires":[["17663419.4a0b4c","a175bae5.e0bce8","d0d77601.267708"]]},{"id":"17663419.4a0b4c","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":658,"y":1789,"wires":[]},{"id":"dc2930f1.9a72c","type":"change","z":"63af1210.1336dc","name":"","rules":[{"t":"set","p":"timerSeconds","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"newTimer","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":808.0000076293945,"y":2094.999969482422,"wires":[[]]},{"id":"d145ec34.43d4a","type":"file in","z":"63af1210.1336dc","name":"open file","filename":"","format":"utf8","chunk":false,"sendError":false,"x":688.0000076293945,"y":2694.999969482422,"wires":[["5e1736a7.99c288"]]},{"id":"5e1736a7.99c288","type":"csv","z":"63af1210.1336dc","name":"","sep":",","hdrin":true,"hdrout":true,"multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"x":834,"y":2692,"wires":[["f90f34ad.49e238","dc3d00ea.31bba","d62b43a.28aadc"]]},{"id":"2012115f.6106ce","type":"debug","z":"63af1210.1336dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1318.0000076293945,"y":2654.999969482422,"wires":[]},{"id":"4d5c6f6.9ce639","type":"inject","z":"63af1210.1336dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":749,"y":2329,"wires":[["dae04e60.a01a7"]]},{"id":"ab7bdd1f.ccb5c","type":"ui_template","z":"63af1210.1336dc","group":"99a5e43f.7ea828","name":"Show recipe","order":2,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"  style=\"width:300;height:400\">\n\n</div>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1318.0000076293945,"y":2714.999969482422,"wires":[[]]},{"id":"f90f34ad.49e238","type":"template","z":"63af1210.1336dc","name":"html template","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n<table border=\"0\" width=\"150px\">\n    <tr>\n        <th class=\"white\">Step</th>\n        <th class=\"white\">Setpoint</th>\n        <th class=\"white\">Duration</th>\n        <th class=\"white\" width=\"75\">Alarm</th>\n\n    </tr>\n    {{#payload}}\n        <tr class=\"\">\n            <td>{{Step}}</td> \n            <td>{{Setpoint}}</td> \n            <td>{{Duration}}</td> \n            <td width=\"75\">{{Alarm}}</td>\n        </tr>\n    {{/payload}}\n</table>\n","output":"str","x":1088.0000076293945,"y":2714.999969482422,"wires":[["ab7bdd1f.ccb5c"]]},{"id":"b6f0ebc9.516608","type":"mqtt in","z":"63af1210.1336dc","name":"State","topic":"kitchen/brewometer/state","qos":"2","datatype":"auto","broker":"510a64e0.74c62c","x":198.00000762939453,"y":2534.999969482422,"wires":[["8b8b9b89.5d3ad8"]]},{"id":"8b8b9b89.5d3ad8","type":"change","z":"63af1210.1336dc","name":"change to text","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"off","tot":"str"},{"t":"set","p":"heater_state","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":368.00000762939453,"y":2534.999969482422,"wires":[["1cf5e244.00234e"]]},{"id":"1cf5e244.00234e","type":"ui_text","z":"63af1210.1336dc","group":"573f645c.8d37fc","order":3,"width":"0","height":"0","name":"heater status","label":"Heater:","format":"{{msg.payload}}","layout":"row-center","x":578.0000076293945,"y":2534.999969482422,"wires":[]},{"id":"2131fd6d.7e6c32","type":"comment","z":"63af1210.1336dc","name":"Show heater state on dashboard","info":"","x":241.00001525878906,"y":2433.0000429153442,"wires":[]},{"id":"715a8c99.cbc024","type":"ui_switch","z":"63af1210.1336dc","name":"","label":"Heater","tooltip":"","group":"363aa8e1.946ff8","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":879,"y":1609,"wires":[["dd137d1b.1336","756c112d.20629"]]},{"id":"dd137d1b.1336","type":"mqtt out","z":"63af1210.1336dc","name":"heater control","topic":"kitchen/brewometer/set","qos":"","retain":"","broker":"510a64e0.74c62c","x":1088,"y":1605,"wires":[]},{"id":"73aec5c0.5b158c","type":"change","z":"63af1210.1336dc","name":"enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":699,"y":1549,"wires":[["715a8c99.cbc024"]]},{"id":"96178871.beb798","type":"switch","z":"63af1210.1336dc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":557,"y":1569,"wires":[["73aec5c0.5b158c","756c112d.20629","dd137d1b.1336"],["d5934660.7f5f58"]]},{"id":"d5934660.7f5f58","type":"change","z":"63af1210.1336dc","name":"disable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":701,"y":1591,"wires":[["715a8c99.cbc024"]]},{"id":"743aa070.08647","type":"comment","z":"63af1210.1336dc","name":"Manual override of heater state","info":"","x":718,"y":1507,"wires":[]},{"id":"74c9e5ab.4bdcec","type":"ui_text","z":"63af1210.1336dc","group":"573f645c.8d37fc","order":6,"width":0,"height":0,"name":"","label":"Step","format":"{{msg.payload}}","layout":"row-center","x":1278.0000076293945,"y":2234.999969482422,"wires":[]},{"id":"ddf24dba.241de","type":"function","z":"63af1210.1336dc","name":"increment counter","func":"var count=flow.get('count') || 0;\nvar protocol=flow.get('protocol');\nvar maxCount = protocol.length;\nvar step;\nvar setpoint;\nvar duration; \nvar alarm;\n\nif (count >= maxCount){\n   //newMsg = {\"payload\": \"end\"}\n   step = {\"payload\": \"end\"};\n\n} else {\n\n   step = {\"payload\":protocol[count].Step};\n   setpoint = {\"payload\":protocol[count].Setpoint};\n   duration = {\"payload\":protocol[count].Duration};\n   alarm = {\"payload\":protocol[count].Alarm};\n   \n   //reset timer\n   flow.set('newTimer', true);\n}\n\nreturn [step, setpoint, duration, alarm];\n\n","outputs":4,"noerr":0,"x":1058.0000076293945,"y":2254.999969482422,"wires":[["74c9e5ab.4bdcec","65bb4b44.579a54"],["fe4039ff.20a8b8"],["229f6202.a1f4be"],["f60da51f.ae2258"]]},{"id":"dc3d00ea.31bba","type":"change","z":"63af1210.1336dc","name":"load protocols","rules":[{"t":"set","p":"protocol","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"count","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1088.0000076293945,"y":2674.999969482422,"wires":[["2012115f.6106ce","bd3a7e86.3b345","c465b642.997b88"]]},{"id":"fe4039ff.20a8b8","type":"link out","z":"63af1210.1336dc","name":"","links":["39e841cb.35005e"],"x":1244,"y":2269,"wires":[]},{"id":"229f6202.a1f4be","type":"link out","z":"63af1210.1336dc","name":"","links":["d3350790.b11ec8"],"x":1244,"y":2289,"wires":[]},{"id":"39e841cb.35005e","type":"link in","z":"63af1210.1336dc","name":"","links":["fe4039ff.20a8b8"],"x":268,"y":1399,"wires":[["bf9dd156.8be15"]]},{"id":"d3350790.b11ec8","type":"link in","z":"63af1210.1336dc","name":"","links":["229f6202.a1f4be"],"x":126.00001525878906,"y":2094,"wires":[["13310d73.f8fc53"]]},{"id":"dae04e60.a01a7","type":"change","z":"63af1210.1336dc","name":"","rules":[{"t":"set","p":"count","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":809,"y":2289,"wires":[[]]},{"id":"a2a49b57.410858","type":"ui_button","z":"63af1210.1336dc","name":"","group":"99a5e43f.7ea828","order":4,"width":"2","height":"1","passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":262,"y":2137,"wires":[["e33ac82e.eeb368","ddf24dba.241de"]]},{"id":"56f6de5e.0d77e","type":"ui_button","z":"63af1210.1336dc","name":"","group":"99a5e43f.7ea828","order":5,"width":"2","height":"1","passthru":true,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":263,"y":2179,"wires":[["f6493e87.149b1","dae04e60.a01a7","e50188fe.806b38"]]},{"id":"e33ac82e.eeb368","type":"link out","z":"63af1210.1336dc","name":"","links":["c4e355a3.5c6fb8","abbbe9d0.c47948","1fa87991.8d3fa6"],"x":378,"y":2125,"wires":[]},{"id":"f6493e87.149b1","type":"link out","z":"63af1210.1336dc","name":"","links":["c4e355a3.5c6fb8","abbbe9d0.c47948"],"x":431,"y":2219,"wires":[]},{"id":"c4e355a3.5c6fb8","type":"link in","z":"63af1210.1336dc","name":"","links":["f6493e87.149b1","e33ac82e.eeb368"],"x":264,"y":1529,"wires":[["fda5fa32.789a38"]]},{"id":"9fa5d35a.7f9c6","type":"function","z":"63af1210.1336dc","name":"increae counter","func":"var count = flow.get(\"count\")\ncount += 1;\nflow.set(\"count\", count);\n\nvar newMsg = {\"payload\": \"next step\"};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1049,"y":1869,"wires":[["2a2cc6e3.aaae6a","ddf24dba.241de"]]},{"id":"2a2cc6e3.aaae6a","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1339,"y":1869,"wires":[]},{"id":"fe844696.1b8f78","type":"ui_dropdown","z":"63af1210.1336dc","name":"","label":"Select recipe","tooltip":"","place":"Select option","group":"99a5e43f.7ea828","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":298.00000762939453,"y":2694.999969482422,"wires":[["f4f832c9.7a01f"]]},{"id":"6ecb4175.588b9","type":"comment","z":"63af1210.1336dc","name":"Select protocol","info":"msg.option can be used to add more combinations","x":208.00000762939453,"y":2654.999969482422,"wires":[]},{"id":"f4f832c9.7a01f","type":"change","z":"63af1210.1336dc","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"filename","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":488.00000762939453,"y":2694.999969482422,"wires":[["d145ec34.43d4a","deb4ca1a.e8db48"]]},{"id":"e50188fe.806b38","type":"change","z":"63af1210.1336dc","name":"timer off","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"payload\":\"stop\"}","tot":"json"},{"t":"set","p":"newTimer","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":2195,"wires":[["d0d77601.267708"]]},{"id":"d62b43a.28aadc","type":"ui_template","z":"63af1210.1336dc","group":"397a7719.fc4728","name":"Enter new recipe","order":1,"width":0,"height":0,"format":"<div class=\"set-form\">\n  <table id=\"newProtocol\" class=\"table table-bordered\">\n    <tr>\n      <th>Step</th>\n      <th>Setpoint</th>\n      <th>Duration</th>\n      <th>Alarm</th>\n    </tr>\n    <tr>\n      <td>\n        <textarea name=\"Step\" placeholder=\"Step\" th:field=\"${protocol.step}\" id=\"step\" class=\"input step\" style=\"resize: none; width: 100%;\"></textarea>\n      </td>\n      <td>\n        <textarea name=\"Setpoint\" placeholder=\"Setpoint\" th:field=\"${protocol.setpoint}\" id=\"setpoint\" class=\"input setpoint\" style=\"resize: none; width: 100%;\"></textarea>\n      </td>\n      <td>\n        <textarea name=\"Duration\" placeholder=\"Duration\" th:field=\"${protocol.duration}\" id=\"duration\" class=\"input duration\" style=\"resize: none; width: 100%;\"></textarea>\n      </td>\n      <td>\n        <textarea name=\"Alarm\" placeholder=\"1/0\" th:field=\"${protocol.alarm}\" id=\"alarm\" class=\"input alarm\" style=\"resize: none; width: 100%;\"></textarea>\n      </td>\n    </tr>\n  </table>\n  <div class=\"set-form\">\n   <input type=\"button\" id=\"more_fields\" value=\"Add step\" class=\"btn btn-info\" />\n   <input type=\"button\" id=\"use_protocol\" value=\"use protocol\" class=\"btn btn-info\" />\n   <input type=\"button\" id=\"reset_protocol\" value=\"reset\" class=\"btn btn-info\" />\n   <input type=\"button\" id=\"save_protocol\" value=\"save protocol\" class=\"btn btn-info\" />\n   <p id=\"info\"></p>\n</div>\n\n<script>\nvar thisScope = scope;\n\ndocument.getElementById(\"more_fields\").onclick = add_fields;\ndocument.getElementById(\"reset_protocol\").onclick = reset_protocol;\ndocument.getElementById(\"use_protocol\").onclick = use_protocol;\ndocument.getElementById(\"save_protocol\").onclick = save_protocol;\n\n(function(scope) {\n scope.$watch('msg.payload', function(data) {\n edit_protocol(data);\n });\n})(scope);\n\n\nfunction add_fields() {\ndocument.getElementById(\"newProtocol\").insertRow(-1).innerHTML = '<tr><td><textarea name =\"Step\" placeholder=\"Step\" th: field = \"${protocol.step}\" id=\"step\" class=\"input step\" style = \"resize: none; width:100%;\"></textarea></td><td><textarea name=\"Setpoint\" placeholder =\"Setpoint\" th: field = \"${protocol.setpoint}\" id=\"setpoint\" class=\"input setpoint\" style=\"resize:none;width: 100%;\"></textarea></td ></tr><td><textarea name=\"Duration\" placeholder =\"Duration\" th: field = \"${protocol.duration}\" id=\"duration\" class=\"input duration\" style=\"resize:none;width: 100%;\"></textarea></td ></tr><td><textarea name=\"Alarm?\" placeholder =\"1/0\" th: field = \"${protocol.alarm}\" id=\"alarm\" class=\"input alarm\" style=\"resize:none;width: 100%;\"></textarea></td ></tr>';\n}\n\nfunction reset_protocol(){\nvar nRows = document.getElementById(\"newProtocol\").rows.length;\nfor (i = 0; i<nRows-1; i++){\n\tdocument.getElementById(\"newProtocol\").deleteRow(-1);\n}\nadd_fields();\n}\n\n\nfunction read_protocol() {\n  //var myTab = document.getElementById('newProtocol');\n   document.getElementById('info').innerHTML = \"\";\n   var nRows = document.getElementById(\"newProtocol\").rows.length;\n\t var myArray = [];\n   var thisStep;\n \tfor (i = 0; i < nRows-1; i++) {\n\n   var thisStep =  {\n      \"Step\":  document.getElementsByClassName(\"input step\")[i].value,\n      \"Setpoint\": parseInt(document.getElementsByClassName(\"input setpoint\")[i].value),\n      \"Duration\": parseInt(document.getElementsByClassName(\"input duration\")[i].value),\n      \"Alarm\": parseInt(document.getElementsByClassName(\"input alarm\")[i].value)\n    }\n    \n    myArray.push(thisStep);\n //}\n\n  //info.innerHTML = JSON.stringify(thisStep);\n  //info.innerHTML = JSON.stringify(myArray);\n  }\n  return myArray;\n  //console.log(myArray);\n\n}\n\nfunction use_protocol(){\n    var protocol = read_protocol();\n    thisScope.send({payload:protocol});\n}\n\nfunction save_protocol() {\n  var dir = \"/data/protocols/\";\n  var protocolName = prompt(\"Please enter a protocol name:\");\n  if (protocolName == null || protocolName == \"\") {\n    protocolName = \"temp\";\n  }\n  var protocol = read_protocol();\n  var path = dir + protocolName.replace(\" \", \"_\") + \".csv\";\n  \n  thisScope.send({payload:protocol, filename:path});\n}\n\nfunction edit_protocol(dta){\n    //reset current table\n    var nRows = document.getElementById(\"newProtocol\").rows.length;\n    for (i = 0; i<nRows-1; i++){\n\t    document.getElementById(\"newProtocol\").deleteRow(-1);\n    }\n\n    var protocol = dta;\n    //create empty table with n number of rows\n    for (i=0; i<protocol.length; i++){\n        document.getElementById(\"newProtocol\").insertRow(-1).innerHTML = '<tr><td><textarea name =\"Step\" placeholder=\"Step\" th: field = \"${protocol.step}\" id=\"step\" class=\"input step\" style = \"resize: none; width:100%;\"></textarea></td><td><textarea name=\"Setpoint\" placeholder =\"Setpoint\" th: field = \"${protocol.setpoint}\" id=\"setpoint\" class=\"input setpoint\" style=\"resize:none;width: 100%;\"></textarea></td ></tr><td><textarea name=\"Duration\" placeholder =\"Duration\" th: field = \"${protocol.duration}\" id=\"duration\" class=\"input duration\" style=\"resize:none;width: 100%;\"></textarea></td ></tr><td><textarea name=\"Alarm?\" placeholder =\"1/0\" th: field = \"${protocol.alarm}\" id=\"alarm\" class=\"input alarm\" style=\"resize:none;width: 100%;\"></textarea></td ></tr>';\n    }\n    //add values of each cell\n    for (i=0; i<protocol.length; i++){\n        document.getElementsByClassName('input step')[i].value = dta[i].Step;\n        document.getElementsByClassName('input setpoint')[i].value = dta[i].Setpoint;\n        document.getElementsByClassName('input duration')[i].value = dta[i].Duration;\n        document.getElementsByClassName('input alarm')[i].value = dta[i].Alarm;\n    }\n\n}\n\n</script>\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":559,"y":2909,"wires":[["32b593b6.7b00ec","dc3d00ea.31bba","f90f34ad.49e238","2cc7d283.56c79e"]]},{"id":"32b593b6.7b00ec","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"filename","x":838.0000076293945,"y":2954.999969482422,"wires":[]},{"id":"81d68d7c.81939","type":"file","z":"63af1210.1336dc","name":"save csv","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1068.0000076293945,"y":2854.999969482422,"wires":[[]]},{"id":"ec50aebe.7b831","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1098.0000076293945,"y":2934.999969482422,"wires":[]},{"id":"2cc7d283.56c79e","type":"csv","z":"63af1210.1336dc","name":"","sep":",","hdrin":false,"hdrout":true,"multi":"mult","ret":"\\n","temp":"Step, Setpoint, Duration, Alarm","skip":"0","strings":true,"x":858.0000076293945,"y":2874.999969482422,"wires":[["81d68d7c.81939","ec50aebe.7b831"]]},{"id":"1f28b883.d8fbe7","type":"inject","z":"63af1210.1336dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":228.00000762939453,"y":3114.999969482422,"wires":[["72935764.9602d8"]]},{"id":"4457d854.93aaf8","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"options","x":818.0000076293945,"y":3094.999969482422,"wires":[]},{"id":"d20faad.b24ea58","type":"function","z":"63af1210.1336dc","name":"extract label","func":"/*\nmsg.options = [];//create empty array\nfor(let i = 0; i < msg.payload.length; i++){\n    let row = msg.payload[i]; //get the row\n    let opt = {};//make new opt object\n    opt[row.part_number_item] = row.part_number_item; \n    msg.options.push(opt);//add the opt to array    \n}\nreturn msg;\n*/\n\nmsg.options = [];\nfor(let i = 0; i < msg.payload.length; i++){\n    var path = msg.payload[i];\n    var index = path.lastIndexOf(\"/\");\n    var name = path.substring(index+1, path.length - 4);\n    name = name.replace(\"_\", \" \");\n\n    let opt = {};\n    opt[name] = path;\n    msg.options.push(opt);\n}\nreturn msg;","outputs":1,"noerr":0,"x":598.0000076293945,"y":3094.999969482422,"wires":[["4457d854.93aaf8","d11f1470.a4ae98"]]},{"id":"6bf5fe45.99fa","type":"ui_button","z":"63af1210.1336dc","name":"","group":"99a5e43f.7ea828","order":6,"width":"2","height":"1","passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":253.00001525878906,"y":2222,"wires":[["9d2c21f8.5500b"]]},{"id":"9d2c21f8.5500b","type":"link out","z":"63af1210.1336dc","name":"","links":["8e8730f1.2ea0e"],"x":493,"y":2260,"wires":[]},{"id":"8e8730f1.2ea0e","type":"link in","z":"63af1210.1336dc","name":"","links":["9d2c21f8.5500b"],"x":303.00000762939453,"y":3074.999969482422,"wires":[["72935764.9602d8"]]},{"id":"7bb940d0.a8f7","type":"link in","z":"63af1210.1336dc","name":"","links":["d11f1470.a4ae98"],"x":183.00000762939453,"y":2694.999969482422,"wires":[["fe844696.1b8f78"]]},{"id":"929cc6cf.b2fc08","type":"comment","z":"63af1210.1336dc","name":"Read protocols from directories","info":"","x":278.00000762939453,"y":3034.999969482422,"wires":[]},{"id":"d11f1470.a4ae98","type":"link out","z":"63af1210.1336dc","name":"","links":["7bb940d0.a8f7"],"x":728.0000076293945,"y":3054.999969482422,"wires":[]},{"id":"abbbe9d0.c47948","type":"link in","z":"63af1210.1336dc","name":"","links":["f6493e87.149b1","e33ac82e.eeb368","f072ea18.35f178"],"x":159.00000762939453,"y":247.99996948242188,"wires":[["bb51f784.2f1cb8"]]},{"id":"bb51f784.2f1cb8","type":"change","z":"63af1210.1336dc","name":"conv","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"enable","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"disable","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"end","fromt":"str","to":"disable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":274.00000762939453,"y":247.99996948242188,"wires":[["8c5a9cbc.89237"]]},{"id":"2c257303.2c500c","type":"mqtt in","z":"63af1210.1336dc","name":"State","topic":"kitchen/brewometer/state","qos":"2","datatype":"auto","broker":"510a64e0.74c62c","x":447,"y":1645,"wires":[["715a8c99.cbc024"]]},{"id":"bf747c0d.6cea1","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1478.0000076293945,"y":1494.9999694824219,"wires":[]},{"id":"d3227e81.134d9","type":"function","z":"63af1210.1336dc","name":"PID active?","func":"var pid_state = flow.get(\"pid_state\");\n\nif (pid_state === 1){\n    return msg;\n    \n}\n","outputs":1,"noerr":0,"x":1288.0000076293945,"y":1434.9999694824219,"wires":[["dacb9be.06e2b68","bf747c0d.6cea1","3ccbc733.f52fb8"]]},{"id":"2ce44882.3813d8","type":"comment","z":"63af1210.1336dc","name":"Thermostat","info":"Simple Thermostat\n\nif (currentTemp < (setpoint-5)) {\n        //far from setpoint, keep heating\n        pid_output = 1;\n    } else if (currentTemp < (setpoint-2)){\n        //closer to setpoint, slowdown heating\n        pid_output = 0.5;\n    } else if (currentTemp < (setpoint-0.5)){\n        pid_output = 0.2;\n    } else {\n        pid_output = 0;\n    }\n}\n\n\n\n","x":719,"y":1269,"wires":[]},{"id":"bd3a7e86.3b345","type":"function","z":"63af1210.1336dc","name":"extract steps","func":"var protocol = flow.get('protocol');\nvar newMsg = {};\nnewMsg.options = [];\n\n\n//var steps = [];\nfor (let i=0; i < protocol.length; i++){\n    let thisStep = {};\n    thisStep[protocol[i].Step] = i ;    \n    newMsg.options.push(thisStep);\n\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":1098.0000076293945,"y":2534.999969482422,"wires":[["39d78b50.da1394","33b4af6f.7e7cd"]]},{"id":"39d78b50.da1394","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"options","x":1318.0000076293945,"y":2534.999969482422,"wires":[]},{"id":"33b4af6f.7e7cd","type":"ui_dropdown","z":"63af1210.1336dc","name":"","label":"Go to step","tooltip":"","place":"Select option","group":"99a5e43f.7ea828","order":3,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1118.0000076293945,"y":2474.999969482422,"wires":[["b4f30e3c.52af6"]]},{"id":"ad6c994e.7203f8","type":"inject","z":"63af1210.1336dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":908.0000076293945,"y":2534.999969482422,"wires":[["bd3a7e86.3b345"]]},{"id":"79c1333.81388cc","type":"comment","z":"63af1210.1336dc","name":"Extract steps","info":"","x":898.0000076293945,"y":2474.999969482422,"wires":[]},{"id":"b4f30e3c.52af6","type":"change","z":"63af1210.1336dc","name":"change flow.count","rules":[{"t":"set","p":"count","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1298.0000076293945,"y":2474.999969482422,"wires":[["ddf24dba.241de","a17ec6bd.d76478"]]},{"id":"2eb57b3c.85c9d4","type":"ui_button","z":"63af1210.1336dc","name":"","group":"99a5e43f.7ea828","order":7,"width":"2","height":"1","passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":263.00001525878906,"y":2263,"wires":[["9570321e.d6a43"]]},{"id":"65839fbd.27931","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":531,"y":2359,"wires":[]},{"id":"1098d7c1.c56b28","type":"function","z":"63af1210.1336dc","name":"simple thermostat","func":"var currentTemp = msg.payload;\nvar setpoint = flow.get(\"setpoint\");\nvar pid_state = flow.get(\"pid_state\");\nvar pid_output;\n\nvar last_pid_output = context.get('last_pid_output') || 0;\n\nif (currentTemp < (setpoint-5)) {\n        //far from setpoint, keep heating\n        pid_output = 1;\n    } else if (currentTemp < (setpoint-2)){\n        //closer to setpoint, slowdown heating\n        pid_output = 0.8;\n    } else if (currentTemp < (setpoint)){\n        pid_output = 0.5;\n    } else {\n        pid_output = 0;\n    }\n\nvar newMsg = {\"payload\": pid_output};\nflow.set(\"pid_output\", pid_output);\n\nif (pid_state === 0){\n    return; \n    //only send if pid_output changed\n} else if (last_pid_output != pid_output){\n    context.set(\"last_pid_output\", pid_output);\n    return newMsg;    \n}\n\n","outputs":1,"noerr":0,"x":739,"y":1309,"wires":[["5b037927.b871a8","65609c21.927d04"]]},{"id":"65609c21.927d04","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1118.0000076293945,"y":1314.9999694824219,"wires":[]},{"id":"f6bf4f06.97bcb","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1408.0000076293945,"y":1334.9999694824219,"wires":[]},{"id":"f1a59ec5.0262c","type":"csv","z":"63af1210.1336dc","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"date, TEMPERATURE, SETPOINT, PID_STATE, PID_OUTPUT, HEATER_STATE","skip":"0","strings":true,"x":1435,"y":462,"wires":[["a43dc746.a9ec98"]]},{"id":"a43dc746.a9ec98","type":"file","z":"63af1210.1336dc","name":"","filename":"/data/logs/export.csv","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1625,"y":462,"wires":[[]]},{"id":"e14b4369.c514d","type":"ui_date_picker","z":"63af1210.1336dc","name":"","label":"Date","group":"3e4c3b61.6c9b94","order":2,"width":0,"height":0,"passthru":false,"topic":"","x":235,"y":542,"wires":[["252ec0c1.8b9e1","98b30476.55a7a8"]]},{"id":"252ec0c1.8b9e1","type":"change","z":"63af1210.1336dc","name":"","rules":[{"t":"set","p":"from_timestamp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":475,"y":542,"wires":[[]]},{"id":"65bb4b44.579a54","type":"switch","z":"63af1210.1336dc","name":"end","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"end","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1278.0000076293945,"y":2194.999969482422,"wires":[["8a9ef8fe.5427f8"]]},{"id":"5485ba28.cb9e34","type":"link out","z":"63af1210.1336dc","name":"","links":["ce869dff.a2619"],"x":1523.0000076293945,"y":2194.999969482422,"wires":[]},{"id":"ce869dff.a2619","type":"link in","z":"63af1210.1336dc","name":"","links":["5485ba28.cb9e34"],"x":126.00001525878906,"y":2180,"wires":[["56f6de5e.0d77e"]]},{"id":"6cc2e5ee.165b2c","type":"comment","z":"63af1210.1336dc","name":"stop protocol if finished","info":"","x":1328.0000076293945,"y":2154.999969482422,"wires":[]},{"id":"98b30476.55a7a8","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":435,"y":582,"wires":[]},{"id":"8a9ef8fe.5427f8","type":"change","z":"63af1210.1336dc","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1418.0000076293945,"y":2194.999969482422,"wires":[["5485ba28.cb9e34","dccccb9d.e5af78"]]},{"id":"dccccb9d.e5af78","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1608.0000076293945,"y":2154.999969482422,"wires":[]},{"id":"b99783df.d19fc","type":"http in","z":"63af1210.1336dc","name":"","url":"/export.csv","method":"get","upload":false,"swaggerDoc":"","x":265,"y":642,"wires":[["ca51df5e.4af95"]]},{"id":"ca51df5e.4af95","type":"file in","z":"63af1210.1336dc","name":"export.csv","filename":"/data/logs/export.csv","format":"","sendError":true,"x":425,"y":642,"wires":[["3639348c.c86a7c"]]},{"id":"3639348c.c86a7c","type":"change","z":"63af1210.1336dc","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"text/csv","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":615,"y":642,"wires":[["e50bfc32.e1c7b"]]},{"id":"e50bfc32.e1c7b","type":"http response","z":"63af1210.1336dc","name":"","statusCode":"","headers":{},"x":775,"y":642,"wires":[]},{"id":"bb5c60d1.22273","type":"comment","z":"63af1210.1336dc","name":"Extract log and serve for download","info":"","x":305,"y":382,"wires":[]},{"id":"49e8ee30.34d2a","type":"split","z":"63af1210.1336dc","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":475,"y":462,"wires":[["3f071b9c.28d134"]]},{"id":"3f071b9c.28d134","type":"change","z":"63af1210.1336dc","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":615,"y":462,"wires":[["8e32bed4.1f21"]]},{"id":"dce92f54.30da","type":"comment","z":"63af1210.1336dc","name":"msg.payload","info":"msg.payload cannot be accessed within a ui_template script\nWe have to watch the scope variable for a change in msg.payload","x":559,"y":2829,"wires":[]},{"id":"a536ae8e.0ca05","type":"comment","z":"63af1210.1336dc","name":"Log parameters to sqlite","info":"","x":245,"y":182,"wires":[]},{"id":"f60da51f.ae2258","type":"change","z":"63af1210.1336dc","name":"","rules":[{"t":"set","p":"alarm","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1309,"y":2329,"wires":[[]]},{"id":"9a146992.c482d8","type":"switch","z":"63af1210.1336dc","name":"alarm enabled?","property":"alarm","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1049,"y":1770,"wires":[["b71cbe10.52301"]]},{"id":"86c98dd6.1a255","type":"inject","z":"63af1210.1336dc","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":95,"y":322,"wires":[["c61c48f3.911ed8"]]},{"id":"bbc5254e.75d958","type":"ui_chart","z":"63af1210.1336dc","name":"","group":"3e4c3b61.6c9b94","order":5,"width":0,"height":0,"label":"Hot-o-meter","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"45","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7f0e","#aec7e8","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1944.0000038146973,"y":516.9999990463257,"wires":[[]]},{"id":"d436661.925d398","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1888.0000038146973,"y":649.9999988079071,"wires":[]},{"id":"b33ab00b.c6161","type":"function","z":"63af1210.1336dc","name":"formatting for chart_ui","func":"//var data = [[{\"x\":1537348236000,\"y\":2493},{\"x\":1537348326000,\"y\":2493}]];\n//\nvar series =[\"Temperatur in °C\", \"Setpoint in °C\"];\nvar labels = [\"\"];\nvar data = [];\nvar line = [];\n\nvar i, len, string;\n\nfor (i = 1, len = msg.payload.length, string = \"\"; i < len; i++) {\nline.push({\"x\":msg.payload[i].TIMESTAMP, \"y\":Number(msg.payload[i].TEMPERATURE)});\n}\ndata.push(line);\n//reset array\nline = [];\nfor (i = 1, len = msg.payload.length, string = \"\"; i < len; i++) {\nline.push({\"x\":msg.payload[i].TIMESTAMP, \"y\":Number(msg.payload[i].SETPOINT)});\n}\n\ndata.push(line);\n\nmsg.topic = \"\";\nmsg.payload = [{series, data, labels}];\nreturn msg;","outputs":1,"noerr":0,"x":1565,"y":522,"wires":[["bbc5254e.75d958","d436661.925d398"]]},{"id":"4b867d3a.d33934","type":"function","z":"63af1210.1336dc","name":"extract","func":"var to_timestamp = flow.get(\"from_timestamp\");\nvar from_timestamp = to_timestamp - (24*60*60*1000); \nmsg.payload = [];\nmsg.payload.push(\"UPDATE HOMEBREW SET date = datetime(ROUND(TIMESTAMP / 1000), 'unixepoch', 'localtime')\");\nmsg.payload.push(\"select date, TIMESTAMP, SETPOINT, TEMPERATURE, PID_STATE, PID_OUTPUT, HEATER_STATE from HOMEBREW where TIMESTAMP BETWEEN \" + from_timestamp + \" and \" + to_timestamp);\n\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":462,"wires":[["49e8ee30.34d2a","1720648.17d3b9c"]]},{"id":"be525e.16c55da","type":"change","z":"63af1210.1336dc","name":"temperature","rules":[{"t":"set","p":"topic","pt":"msg","to":"Temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1545.0002136230469,"y":600.9999980926514,"wires":[["9967db87.ec8778"]]},{"id":"76dfa07c.58756","type":"change","z":"63af1210.1336dc","name":"setpoint","rules":[{"t":"set","p":"topic","pt":"msg","to":"Setpoint","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"setpoint","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1549.0000038146973,"y":668.9999980926514,"wires":[["9967db87.ec8778"]]},{"id":"294314bf.1c784c","type":"switch","z":"63af1210.1336dc","name":"Export?","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"select","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1345,"y":522,"wires":[["b33ab00b.c6161","3cd70ec7.5a5472"]]},{"id":"3cd70ec7.5a5472","type":"change","z":"63af1210.1336dc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"it works","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1605,"y":742,"wires":[["238c166d.0c818a"]]},{"id":"238c166d.0c818a","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1785,"y":762,"wires":[]},{"id":"8ce48527.f23fc8","type":"inject","z":"63af1210.1336dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":85,"y":522,"wires":[["4b867d3a.d33934"]]},{"id":"6d2e3785.20b878","type":"ui_button","z":"63af1210.1336dc","name":"","group":"3e4c3b61.6c9b94","order":3,"width":"2","height":"1","passthru":false,"label":"Show","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":75,"y":402,"wires":[["4b867d3a.d33934"]]},{"id":"b476b2ab.c46b3","type":"ui_template","z":"63af1210.1336dc","group":"3e4c3b61.6c9b94","name":"Export Log","order":6,"width":0,"height":0,"format":"<form method=\"get\" action=\"/export.csv\">\n          <md-button type=\"submit\">Download</md-button>\n</form>\n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":95,"y":482,"wires":[[]]},{"id":"203257f3.b54a58","type":"ui_button","z":"63af1210.1336dc","name":"","group":"3e4c3b61.6c9b94","order":4,"width":"2","height":"1","passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":55,"y":442,"wires":[["793077db.7080d8"]]},{"id":"793077db.7080d8","type":"function","z":"63af1210.1336dc","name":"clear","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":502,"wires":[["bbc5254e.75d958"]]},{"id":"eb6d8964.f39e18","type":"inject","z":"63af1210.1336dc","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":101,"y":2222,"wires":[["6bf5fe45.99fa"]]},{"id":"2a91b172.6d7bfe","type":"function","z":"63af1210.1336dc","name":"Preview selected protocol","func":"var series =[\"Setpoint in °C\"];\nvar labels = [\"\"];\nvar data = [];\n\n//get start time\nvar date = new Date();\nvar lastTime = date.getTime();\n \n//get protocol\nvar protocol = flow.get('protocol');\nvar lastTemp = flow.get(\"temp\");\nvar count = flow.get(\"count\");\nvar heatingRate = 0.015789474; //deg/s\nvar lag = 120*1000;\n\n//construct time series\nfor ( count; count < protocol.length; count++){\n    \n    data.push({\"x\": lastTime, \"y\": lastTemp});\n    \n    //calculate temperature difference\n    var tempDiff = protocol[count].Setpoint - lastTemp;\n    \n    //check if heating, if too far add lag\n    var offset = Math.round((tempDiff / heatingRate) * 1000);\n\n    if (tempDiff >= 20) {\n        data.push({\"x\": lastTime+lag, \"y\": lastTemp});\n    } else if (tempDiff < 0) {        \n        offset = 0;\n    };\n    \n    var thisDuration = protocol[count].Duration*60*1000;\n    data.push({\"x\": lastTime + offset, \"y\": protocol[count].Setpoint}); //heating up\n    data.push({\"x\": lastTime + thisDuration + offset, \"y\": protocol[count].Setpoint}); //stay at Setpoint\n\n    lastTime += thisDuration + offset;\n    lastTemp = protocol[count].Setpoint;\n}\n\ndata = [data];\n\nmsg.topic = \"\";\nmsg.payload = [{series, data, labels}];\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"x":935,"y":702,"wires":[["1be2d5b5.2137ca","bbc5254e.75d958"]]},{"id":"1be2d5b5.2137ca","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1195,"y":722,"wires":[]},{"id":"cc1cb3fb.13825","type":"inject","z":"63af1210.1336dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":665,"y":702,"wires":[["2a91b172.6d7bfe"]]},{"id":"1fa87991.8d3fa6","type":"link in","z":"63af1210.1336dc","name":"Load protocol","links":["3150c1ff.b000be","52e360e5.f4f24","e33ac82e.eeb368","c465b642.997b88","a17ec6bd.d76478"],"x":760,"y":742,"wires":[["2a91b172.6d7bfe"]]},{"id":"a175bae5.e0bce8","type":"switch","z":"63af1210.1336dc","name":"detect stop and sound alarm","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":669,"y":1830,"wires":[["b71cbe10.52301"]]},{"id":"deec4ac0.84c198","type":"link in","z":"63af1210.1336dc","name":"","links":[],"x":849,"y":2430,"wires":[[]]},{"id":"3ba77e89.41bb22","type":"comment","z":"63af1210.1336dc","name":"","info":"use swtich to check if msg.payload is a number and then change the topic. In the function node, we can use the topic to determine if we need to change the index.","x":965,"y":742,"wires":[]},{"id":"c465b642.997b88","type":"link out","z":"63af1210.1336dc","name":"","links":["1fa87991.8d3fa6"],"x":1289,"y":2610,"wires":[]},{"id":"a17ec6bd.d76478","type":"link out","z":"63af1210.1336dc","name":"","links":["1fa87991.8d3fa6"],"x":1484,"y":2470,"wires":[]},{"id":"8e32bed4.1f21","type":"sqlite","z":"63af1210.1336dc","mydb":"2904fd33.7c3792","sqlquery":"msg.topic","sql":"","name":"homebrew","x":1234.0000076293945,"y":407.9999694824219,"wires":[["34f9ffca.4f042","f1a59ec5.0262c","294314bf.1c784c"]]},{"id":"22127eb4.806692","type":"configurable interval","z":"63af1210.1336dc","name":"configurable interval","interval":10,"onstart":false,"do_enable":false,"msg":"ping","showstatus":true,"unit":"seconds","statusformat":"YYYY-MM-D HH:mm:ss","x":679.0000076293945,"y":307.9999694824219,"wires":[["b0be98fe.73d618"]]},{"id":"5b037927.b871a8","type":"timeprop","z":"63af1210.1336dc","name":"","cycleTime":"30","deadTime":0,"triggerPeriod":"1","invert":false,"x":1129,"y":1389,"wires":[["d3227e81.134d9","f6bf4f06.97bcb"]]},{"id":"9570321e.d6a43","type":"fs-ops-delete","z":"63af1210.1336dc","name":"","path":"","pathType":"str","filename":"filename","filenameType":"flow","x":418,"y":2307,"wires":[["9d2c21f8.5500b","65839fbd.27931"]]},{"id":"d0d77601.267708","type":"mytimeout","z":"63af1210.1336dc","name":"","outtopic":"","outsafe":"","outwarning":"Warning","outunsafe":"off","warning":"5","timer":"30","debug":false,"ndebug":false,"ignoreCase":false,"repeat":false,"again":false,"x":619,"y":1949,"wires":[[],["fff4c201.6eff8","1ec30cb5.286593","a8a29a03.525628"]]},{"id":"72935764.9602d8","type":"fs-file-lister","z":"63af1210.1336dc","name":"","start":"/data/protocols/","pattern":"*.csv","folders":"","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":false,"showWarnings":true,"x":428.00000762939453,"y":3094.999969482422,"wires":[["d20faad.b24ea58","fb6697b2.77c5a8"]]},{"id":"82b83c5d.83bed","type":"mqtt in","z":"63af1210.1336dc","name":"Mash Temperature","topic":"kitchen/brewometer/temp","qos":"2","datatype":"auto","broker":"510a64e0.74c62c","x":122,"y":1096,"wires":[["2db6cf2.798b73"]]},{"id":"fb6697b2.77c5a8","type":"debug","z":"63af1210.1336dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":588.5,"y":3020,"wires":[]},{"id":"deb4ca1a.e8db48","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":786.5,"y":2624,"wires":[]},{"id":"1720648.17d3b9c","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":522.5,"y":416,"wires":[]},{"id":"9967db87.ec8778","type":"switch","z":"63af1210.1336dc","name":"logging?","property":"logging","propertyType":"flow","rules":[{"t":"eq","v":"enable","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1715.6329345703125,"y":595.71484375,"wires":[["bbc5254e.75d958"]]},{"id":"9c78021.60ab2","type":"change","z":"63af1210.1336dc","name":"","rules":[{"t":"set","p":"logging","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":603.63671875,"y":224.69921875,"wires":[[]]},{"id":"343a2703.8df9d8","type":"inject","z":"63af1210.1336dc","name":"","topic":"","payload":"disable","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":100.5,"y":215,"wires":[["8c5a9cbc.89237"]]},{"id":"698dc2b0.2dd35c","type":"ui_ui_control","z":"63af1210.1336dc","name":"","events":"all","x":655.5,"y":101,"wires":[[]]},{"id":"9f78d23b.85347","type":"change","z":"63af1210.1336dc","name":"Simple","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Brew-o-matic_Protocol\",\"Brew-o-matic_Log\",\"Brew-o-matic_Editor\"],\"show\":[\"Brew-o-matic_Brew-o-meter\",\"Brew-o-matic_Manual\"],\"focus\":true}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":399.5,"y":68,"wires":[["698dc2b0.2dd35c"]]},{"id":"31f66d98.5c8e72","type":"inject","z":"63af1210.1336dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":258.5,"y":40,"wires":[["9f78d23b.85347"]]},{"id":"9b1de808.947348","type":"change","z":"63af1210.1336dc","name":"Extended","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"show\":[\"Brew-o-matic_Brew-o-meter\",\"Brew-o-matic_Manual\",\"Brew-o-matic_Protocol\",\"Brew-o-matic_Log\",\"Brew-o-matic_Editor\"],\"focus\":true}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":409,"y":114,"wires":[["698dc2b0.2dd35c"]]},{"id":"785ae753.9f5848","type":"inject","z":"63af1210.1336dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":246.5,"y":139,"wires":[["9b1de808.947348"]]},{"id":"eea27c68.18fe7","type":"ui_switch","z":"63af1210.1336dc","name":"","label":"Extended","tooltip":"","group":"573f645c.8d37fc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":98,"y":93,"wires":[["15e08c57.0caf24"]]},{"id":"15e08c57.0caf24","type":"switch","z":"63af1210.1336dc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":248.5,"y":93,"wires":[["9f78d23b.85347"],["9b1de808.947348"]]},{"id":"69c3cb79.251b14","type":"inject","z":"63af1210.1336dc","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":52.5,"y":47,"wires":[["eea27c68.18fe7"]]},{"id":"8b410fc.8befef","type":"inject","z":"63af1210.1336dc","name":"","topic":"","payload":"10","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130.50006103515625,"y":941.000036239624,"wires":[["531977e3.bc4188"]]},{"id":"531977e3.bc4188","type":"mqtt out","z":"63af1210.1336dc","name":"","topic":"cmnd/brew-o-matic/status","qos":"","retain":"","broker":"510a64e0.74c62c","x":378.50006103515625,"y":944.000036239624,"wires":[]},{"id":"9babad04.be8f9","type":"mqtt in","z":"63af1210.1336dc","name":"","topic":"stat/brew-o-matic/STATUS10","qos":"2","datatype":"auto","broker":"510a64e0.74c62c","x":147.5000457763672,"y":1033,"wires":[["987e9cc1.6d3d4"]]},{"id":"a6dacc7.a4dc23","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710.5000610351562,"y":1103,"wires":[]},{"id":"987e9cc1.6d3d4","type":"json","z":"63af1210.1336dc","name":"","property":"payload","action":"","pretty":false,"x":361.50006103515625,"y":1032.0000610351562,"wires":[["49eba123.b2bb2"]]},{"id":"49eba123.b2bb2","type":"change","z":"63af1210.1336dc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.StatusSNS.DS18B20.Temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":518.5000610351562,"y":1031.0003662109375,"wires":[["a6dacc7.a4dc23","2db6cf2.798b73"]]},{"id":"26968f9b.e769e","type":"inject","z":"63af1210.1336dc","name":"","topic":"","payload":"10","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":129.00006103515625,"y":897.000036239624,"wires":[["531977e3.bc4188"]]},{"id":"ece8041b.ce0798","type":"comment","z":"63af1210.1336dc","name":"Poll Tasmota sensor","info":"Tasmota sensors need to be polled, otherwise they only send their state every 10 s or fewer (configurable in Tasmota)","x":322.78904724121094,"y":897.5313777923584,"wires":[]},{"id":"2db6cf2.798b73","type":"link out","z":"63af1210.1336dc","name":"","links":["fb7081e9.57286","9788464a.54ff98"],"x":664.500009059906,"y":1049.0000324249268,"wires":[]},{"id":"fb7081e9.57286","type":"link in","z":"63af1210.1336dc","name":"","links":["2db6cf2.798b73"],"x":487.5,"y":1236,"wires":[["19fe732e.bb640d","519eabef.1f5874","1098d7c1.c56b28","b3f41b58.e06d58"]]},{"id":"9788464a.54ff98","type":"link in","z":"63af1210.1336dc","name":"","links":["2db6cf2.798b73"],"x":1358.5,"y":608,"wires":[["be525e.16c55da","76dfa07c.58756"]]},{"id":"d9d14dd8.f25c6","type":"comment","z":"63af1210.1336dc","name":"Choose between Tasmota or alternative sensor","info":"","x":220.68402862548828,"y":995.9444599151611,"wires":[]},{"id":"756c112d.20629","type":"mqtt out","z":"63af1210.1336dc","name":"","topic":"cmnd/brew-o-matic/POWER","qos":"","retain":"","broker":"510a64e0.74c62c","x":1153.5,"y":1531,"wires":[]},{"id":"3ccbc733.f52fb8","type":"mqtt out","z":"63af1210.1336dc","name":"","topic":"cmnd/brew-o-matic/POWER","qos":"","retain":"","broker":"510a64e0.74c62c","x":1530.0234375,"y":1398.0390625,"wires":[]},{"id":"802acfcc.914f5","type":"mqtt in","z":"63af1210.1336dc","name":"","topic":"stat/brew-o-matic/POWER","qos":"2","datatype":"auto","broker":"510a64e0.74c62c","x":484.78128814697266,"y":1686.859700202942,"wires":[["7147a747.cf4128","ca51bdb5.841cf"]]},{"id":"7147a747.cf4128","type":"change","z":"63af1210.1336dc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":717.7812767028809,"y":1687.3440141677856,"wires":[["715a8c99.cbc024"]]},{"id":"4352829d.0faa5c","type":"mqtt in","z":"63af1210.1336dc","name":"","topic":"stat/brew-o-matic/POWER","qos":"2","datatype":"auto","broker":"510a64e0.74c62c","x":124.02345275878906,"y":2477.539288520813,"wires":[["1cf5e244.00234e"]]},{"id":"c9726c67.8dd12","type":"inject","z":"63af1210.1336dc","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":950.5,"y":1434,"wires":[["756c112d.20629"]]},{"id":"ee5a4ade.79c438","type":"inject","z":"63af1210.1336dc","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":957,"y":1474,"wires":[["756c112d.20629"]]},{"id":"ca51bdb5.841cf","type":"debug","z":"63af1210.1336dc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710.5,"y":1728,"wires":[]}]